## Exercices sur la Bibliothèque Numpy

In [77]:
#importation des bibliothèques
import pandas as pd
import numpy as np

In [79]:
#importatin du dataset
df=pd.read_csv('DEKHO.csv')

In [81]:
#affichage du contenu du dataset
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

## Une petite exploration de notre dataset

In [84]:
#affichage des colonnes du dataset
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [86]:
#verfier s'il n'ya pas de données manquantes
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [88]:
#afficher les type des variables(colonnes)
df.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

## Exercices pratiques

In [91]:
#Exo1 Extrait et convertis la colonne ' selling_price ' en tableau numpy
prix=df['selling_price'].to_numpy()

In [93]:
# Exercice 2 : Faites une  Statistique de base sur la colonne prix transformée en tableau numpy
print("\n[2] Statistiques sur les prix :")
print(f"Moyenne : {np.mean(prix):,.2f}")
print(f"Médiane : {np.median(prix):,.2f}")
print(f"Max : {np.max(prix):,}")
print(f"Min : {np.min(prix):,}")

[2] Statistiques sur les prix :
Moyenne : 504,127.31
Médiane : 350,000.00
Max : 8,900,000
Min : 20,000

In [95]:
# Exercice 3 :Afficher le nom et l'année des 5 voitures les plus anciennes
annees = df['year'].to_numpy()
indices_anciennes = np.argsort(annees)[:5]
print("\n[3] 5 voitures les plus anciennes :")
print(df.iloc[indices_anciennes][['name', 'year']])

[3] 5 voitures les plus anciennes :
                          name  year
3334        Maruti 800 AC BSII  1992
631   Maruti Gypsy E MG410W ST  1995
2972      Mahindra Jeep MM 540  1996
61    Mahindra Jeep CL 500 MDI  1996
1669  Mahindra Jeep CL 500 MDI  1997

In [97]:
# Exercice 4 : Afficher le nombre de Voitures de plus de 10 ans
voitures_anciennes = df[np.array(2025 - df['year'].to_numpy()) > 10]
print(f"\n[4] Nombre de voitures >10 ans : {len(voitures_anciennes)}")

[4] Nombre de voitures >10 ans : 2487

In [99]:
# Exercice 5 : Afficher le Kilométrage moyen par type de carburant
print("\n[5] Kilométrage moyen par type de carburant :")
for carburant in df['fuel'].unique():
    moyenne = df[df['fuel'] == carburant]['km_driven'].mean()
    print(f"{carburant} : {moyenne:,.0f} km")

[5] Kilométrage moyen par type de carburant :
Petrol : 52,340 km
Diesel : 79,631 km
CNG : 67,235 km
LPG : 89,635 km
Electric : 62,000 km

In [101]:
# Exercice 6 :quel est le nombre de voitures avec faible kilométrage au 1er quartile c'est à dire les valeurs au dessous de 25%
km = df['km_driven'].to_numpy()
seuil_quartile = np.percentile(km, 25)
faible_km = df[km < seuil_quartile]
print(f"\n[6] Nombre de voitures avec km < 1er quartile ({seuil_quartile:,.0f} km): {len(faible_km)}")

[6] Nombre de voitures avec km < 1er quartile (35,000 km): 1064

In [103]:
# Exercice 7 :Faites la normalisation des prix
prix_norm = (prix - np.min(prix)) / (np.max(prix) - np.min(prix))
print("\n[7] Prix normalisés (Min-Max) - premiers exemples :")
print(prix_norm[:5])

[7] Prix normalisés (Min-Max) - premiers exemples :
[0.0045045  0.01295045 0.06531532 0.0259009  0.04842342]

In [105]:
# Exercice 8 : Quel est le nombre de voiture par année
valeurs, comptes = np.unique(annees, return_counts=True)
print("\n[8] Nombre de voitures par année :")
for annee, nb in zip(valeurs, comptes):
    print(f"{annee} : {nb}")

[8] Nombre de voitures par année :
1992 : 1
1995 : 1
1996 : 2
1997 : 3
1998 : 12
1999 : 10
2000 : 12
2001 : 20
2002 : 21
2003 : 23
2004 : 42
2005 : 85
2006 : 110
2007 : 134
2008 : 145
2009 : 193
2010 : 234
2011 : 271
2012 : 415
2013 : 386
2014 : 367
2015 : 421
2016 : 357
2017 : 466
2018 : 366
2019 : 195
2020 : 48

In [107]:
# Exercice 9 :faites le Z-score sur le kilométrage
km_moy = np.mean(km)
km_std = np.std(km)
z_scores = (km - km_moy) / km_std
print("\n[9] Z-score du km_driven - premiers exemples :")
print(z_scores[:5])

[9] Z-score du km_driven - premiers exemples :
[ 0.08113906 -0.3476891   0.7243813  -0.43345473  1.60347903]

In [109]:
# Exercice 10 :quelle est la Moyenne pondérée des prix par ancienneté (poids = 1 / âge)
poids_inverse = 1 / (2025 - df['year'] + 1)
prix_pondere = np.average(prix, weights=poids_inverse)
print(f"\n[10] Prix moyen pondéré par ancienneté : {prix_pondere:,.2f}")

[10] Prix moyen pondéré par ancienneté : 584,055.38