In [1]:
import pandas as pd
import numpy as np

In [11]:
#importation des données
df = pd.read_csv('DEKHO.csv')

In [13]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [15]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [17]:
#covertire la selling_price en tableau numpy
prix = df['selling_price'].to_numpy()

In [19]:
df.to_numpy()

array([['Maruti 800 AC', 2007, 60000, ..., 'Individual', 'Manual',
        'First Owner'],
       ['Maruti Wagon R LXI Minor', 2007, 135000, ..., 'Individual',
        'Manual', 'First Owner'],
       ['Hyundai Verna 1.6 SX', 2012, 600000, ..., 'Individual',
        'Manual', 'First Owner'],
       ...,
       ['Maruti 800 AC BSIII', 2009, 110000, ..., 'Individual', 'Manual',
        'Second Owner'],
       ['Hyundai Creta 1.6 CRDi SX Option', 2016, 865000, ...,
        'Individual', 'Manual', 'First Owner'],
       ['Renault KWID RXT', 2016, 225000, ..., 'Individual', 'Manual',
        'First Owner']], dtype=object)

In [21]:
df.ndim

2

In [23]:
prix.ndim

1

In [29]:
#exo2 calcul statistique de base sur le prix
print(f"Moyenne : {np.mean(prix):,.2f}")
print(f"Mediane : {np.median(prix):,.2f}")
print(f"Maxi : {np.max(prix):,.2f}")
print(f"Min : {np.min(prix):,.2f}")

Moyenne : 504,127.31
Mediane : 350,000.00
Maxi : 8,900,000.00
Min : 20,000.00

In [55]:
#
annees = df['year'].to_numpy()
indice_voiture = np.argsort(annees)[:5]
df.iloc[indice_voiture][['name','year']]

                          name  year
3334        Maruti 800 AC BSII  1992
631   Maruti Gypsy E MG410W ST  1995
2972      Mahindra Jeep MM 540  1996
61    Mahindra Jeep CL 500 MDI  1996
1669  Mahindra Jeep CL 500 MDI  1997

In [59]:
#exo4 
voiture_ancienne = df[np.array(2025 - df['year']) > 10]
print(f"le nombre de voiture de plus de 10 ans sont {len(voiture_ancienne)}")

le nombre de voiture de plus de 10 ans sont 2487

In [71]:
#exo5 kilometrage moyen par type de carburant
for carburant in df['fuel'].unique():
    moyenne =df[df['fuel']==carburant]['km_driven'].mean()
    print(f"le kilométrage moyen de {carburant} est {moyenne:,.0f} km")

le kilométrage moyen de Petrol est 52,340 km
le kilométrage moyen de Diesel est 79,631 km
le kilométrage moyen de CNG est 67,235 km
le kilométrage moyen de LPG est 89,635 km
le kilométrage moyen de Electric est 62,000 km

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')